.circular-timer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px; 
  }
  
  .timer-svg {
    width: 200px; 
  }
  
  .timer-circle-bg {
    fill: none;
    stroke: #ddd; 
    stroke-width: 10;
  }
  
  .timer-circle {
    fill: none;
    stroke: #000000; 
    stroke-width: 10;
    stroke-dasharray: 565;
    transform: rotate(-90deg);
    transform-origin: center;
    transition: stroke-dashoffset 0.5s;
  }
  
  .timer-text {
    font-size: 24px;
    fill: #000000; 
  }

  .success-message {
    --ion-color-base: #ffffff; 
  }

 
  .custom-alert {
    --background: #f8d7da; 
    --border-color: #f5c6cb; 
    --border-radius: 10px; 
    --padding-bottom: 16px; 
  }
  
  
  