<ion-toolbar style="--background: #ffffff;">
    <ion-buttons slot="start">
      <ion-back-button style="--color: #333333;" defaultHref="home.page"></ion-back-button>
    </ion-buttons>
    <ion-title style="text-align: center; font-weight: 900; color: #333333;">
      Dryer
    </ion-title>
  </ion-toolbar>

<ion-content class="ion-padding" style="--background: #ffffff;">
  <p style="text-align: center;">Select temperature and time</p>
  <ion-button style="width: 50px; height: 50px; border-radius: 50%; display: flex; justify-content: center; align-items: center; box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); transition: box-shadow 0.3s ease;" (click)="goToPayment()">Low & 15 min</ion-button><br>
  <ion-button style="--background: #ffffff; border-radius: 50% solid #333333; display: flex; justify-content: center; align-items: center; width: 50%;" (click)="goToPayment()">Low & 30 min</ion-button><br>
  <ion-button style="--background: #ffffff; border-radius: 50% solid #333333; display: flex; justify-content: center; align-items: center; width: 50%;" (click)="goToPayment()">High & 15 min</ion-button><br>
  <ion-button style="--background: #ffffff; border-radius: 50% solid #333333; display: flex; justify-content: center; align-items: center; width: 50%;" (click)="goToPayment()">High & 30 min</ion-button>
</ion-content>
