<ion-toolbar style="--background: #ffffff;">
    <ion-buttons slot="start">
      <ion-back-button style="--color: #000000;" defaultHref="home.page"></ion-back-button>
    </ion-buttons>
    <ion-title style="text-align: center; font-weight: 900; color: #000000;">
      Dryer
    </ion-title>
  </ion-toolbar>

<ion-content class="ion-padding" style="--background: #ffffff;">
  <p style="text-align: center;">Select temperature and time</p>
  <div class="card-container" style="display: flex; justify-content: center; align-items: center;">
    <ion-card class="clickable-card" (click)="handleCardDryPayment1Click()" style="color:#000000; background: #ffffff; width: 1000px; height: 50px; padding-top: 15px; cursor: pointer; text-align: center; border: 2px solid #000000; border-radius: 10px; overflow: hidden; transition: border-color 0.3s ease;">Low temperature & 15 min</ion-card>
  </div>
  <div class="card-container" style="display: flex; justify-content: center; align-items: center;">
    <ion-card class="clickable-card" (click)="handleCardDryPayment2Click()" style="color:#000000; background: #ffffff; width: 1000px; height: 50px; padding-top: 15px; cursor: pointer; text-align: center; border: 2px solid #000000; border-radius: 10px; overflow: hidden; transition: border-color 0.3s ease;">Low temperature & 30 min</ion-card>
  </div>
  <div class="card-container" style="display: flex; justify-content: center; align-items: center;">
    <ion-card class="clickable-card" (click)="handleCardDryPayment3Click()" style="color:#000000; background: #ffffff; width: 1000px; height: 50px; padding-top: 15px; cursor: pointer; text-align: center; border: 2px solid #000000; border-radius: 10px; overflow: hidden; transition: border-color 0.3s ease;">High temperature & 15 min</ion-card>
  </div>
  <div class="card-container" style="display: flex; justify-content: center; align-items: center;">
    <ion-card class="clickable-card" (click)="handleCardDryPayment4Click()" style="color:#000000; background: #ffffff; width: 1000px; height: 50px; padding-top: 15px; cursor: pointer; text-align: center; border: 2px solid #000000; border-radius: 10px; overflow: hidden; transition: border-color 0.3s ease;">High temperature & 30 min</ion-card>
  </div>
</ion-content>
