<ion-toolbar style="--background: #ffffff; color: #000000;">
  <ion-buttons slot="end">
    <ion-button (click)="goToHomePage()">
      <ion-icon slot="icon-only" name="home"></ion-icon>
    </ion-button>
  </ion-buttons>
  <ion-title style="font-weight: 900;">Dryer</ion-title>
</ion-toolbar>

<ion-content class="ion-padding" style="--background: #ffffff;">

<!-- Circular Timer SVG with Timer Text Inside -->
<div class="circular-timer" style="padding-top: 100px;">
  <svg class="timer-svg" width="200" height="200">
    <!-- Circle Background -->
    <circle class="timer-circle-bg" cx="100" cy="100" r="90"></circle>
    <!-- Timer Circle -->
    <circle class="timer-circle" cx="100" cy="100" r="90"></circle>
    <!-- Timer Text -->
    <text x="100" y="110" text-anchor="middle" dominant-baseline="middle" class="timer-text">{{ displayTime }}</text>
  </svg>
</div>
<div style="padding-top: 100px; display: flex; justify-content: center; align-items: center;">
<ion-row>
  <ion-col size="6">
    <ion-button (click)="startTimer()" expand="block" [disabled]="isTimerRunning" style="--background: #000000; color: #ffffff; width: 200px;">
      Start
    </ion-button>
  </ion-col>
  <ion-col size="6">
    <ion-button (click)="stopTimer()" expand="block" [disabled]="!isTimerRunning" style="--background: #000000; color: #ffffff; width: 200px;">
      Stop
    </ion-button>
  </ion-col>
</ion-row>
</div>

</ion-content>
