<ion-toolbar style="--background: #ffffff;">
  <ion-title style="--background: #ffffff;text-align: center; font-weight: 900; color: #000000; padding-top: 20px;">
    Payment Status
  </ion-title>
</ion-toolbar>

<ion-content class="ion-padding" style="--background: #ffffff;">
<div style="display: flex; justify-content: center; align-items: center; padding-top: 50px;">
  <img src="assets/done.svg" alt="done" style="width: 200px;">
</div>
<p style="color: #000000; text-align: center; font-weight: bold; padding-top: 50px;">Payment Successful</p>
<p style="color: #000000; color: rgba(0, 0, 0, 0.2); text-align: center; font-weight: bold;">Your payment has <br> gone through</p>
<br>
<br>
<ion-button (click)="proceed()" style="--background: #000000; color: #ffffff; padding-left: 350px; width: 900px;">
  Proceed
</ion-button>
</ion-content>