<ion-content class="ion-padding" style="--background: #ffffff;">
  <ion-img src="assets/laundtracker.jpg"></ion-img>
  <h2>Log In</h2>
  <p>Log in to your account to access the app</p>

  <ion-label style="color: #000000; padding-left: 1px;">
    Username:
  </ion-label>

  <br>
  
  <div style="padding-left: 1px;">
  <ion-input type="text" placeholder="   Enter your name" name="username" style="--color: #000000;  background-color: rgba(0, 0, 0, 0.1); width: 1228px; border-radius: 5px;"></ion-input>
  </div>

  <br>

  <ion-label style="color: #000000; padding-left: 1px;">
    Password:
  </ion-label>

  <br>
  
  <div style="padding-left: 1px;">
  <ion-input type="text" placeholder="   Enter your password" name="password" style="--color: #000000;  background-color: rgba(0, 0, 0, 0.1); width: 1228px; border-radius: 5px;"></ion-input>
  </div>
  
  <br>
  <ion-button (click)="logIn()" style="--background: #000000; --color: #ffffff;">Login</ion-button>

</ion-content>