<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>
      WASH MACHINE
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Wash Machine 14KG</ion-card-title>
      <p>Water: Cool</p>
      <p>Duration: 30 min</p>
    </ion-card-header>
    <ion-card-content>
      <ion-button (click)="startMachine()">Start Machine</ion-button>
      <ion-button (click)="stopMachine()">Stop Machine</ion-button>
    </ion-card-content>

    <ion-card-header>
      <ion-card-title>Wash Machine 26KG</ion-card-title>
      <p>Water: Cool</p>
      <p>Duration: 30 min</p>
    </ion-card-header>
    <ion-card-content>
      <ion-button (click)="startMachine()">Start Machine</ion-button>
      <ion-button (click)="stopMachine()">Stop Machine</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>

