<ion-toolbar style="--background: #ffffff;">
  <ion-buttons slot="start">
    <ion-back-button style="--color: #000000;" defaultHref="home.page"></ion-back-button>
  </ion-buttons>
  <ion-title style="text-align: center; font-weight: 900; color: #000000;">
    Washer
  </ion-title>
</ion-toolbar>

<ion-content class="ion-padding" style="--background: #ffffff;">
<p style="text-align: center;">Select water and time</p>
<div class="card-container" style="display: flex; justify-content: center; align-items: center;">
  <ion-card class="clickable-card" (click)="handleCardWashPayment1Click()" style="color:#000000; background: #ffffff; width: 1000px; height: 50px; padding-top: 15px; cursor: pointer; text-align: center; border: 2px solid #000000; border-radius: 10px; overflow: hidden; transition: border-color 0.3s ease;">Cool water & 5 min</ion-card>
</div>
<div class="card-container" style="display: flex; justify-content: center; align-items: center;">
  <ion-card class="clickable-card" (click)="handleCardWashPayment2Click()" style="color:#000000; background: #ffffff; width: 1000px; height: 50px; padding-top: 15px; cursor: pointer; text-align: center; border: 2px solid #000000; border-radius: 10px; overflow: hidden; transition: border-color 0.3s ease;">Cool water & 10 min</ion-card>
</div>
<div class="card-container" style="display: flex; justify-content: center; align-items: center;">
  <ion-card class="clickable-card" (click)="handleCardWashPayment3Click()" style="color:#000000; background: #ffffff; width: 1000px; height: 50px; padding-top: 15px; cursor: pointer; text-align: center; border: 2px solid #000000; border-radius: 10px; overflow: hidden; transition: border-color 0.3s ease;">Warm water & 5 min</ion-card>
</div>
<div class="card-container" style="display: flex; justify-content: center; align-items: center;">
  <ion-card class="clickable-card" (click)="handleCardWashPayment4Click()" style="color:#000000; background: #ffffff; width: 1000px; height: 50px; padding-top: 15px; cursor: pointer; text-align: center; border: 2px solid #000000; border-radius: 10px; overflow: hidden; transition: border-color 0.3s ease;">Warm water & 10 min</ion-card>
</div>
</ion-content>
