<ion-toolbar style="--background: #ffffff;">
  <ion-buttons slot="start">
    <ion-back-button style="--color: #000000;" defaultHref="home.page"></ion-back-button>
  </ion-buttons>
  <ion-title style="text-align: center; font-weight: 900; color: #000000;">
    Payment
  </ion-title>
</ion-toolbar>

    <ion-content class="ion-padding" style="--background: #ffffff;">
      <div class="card-container" style="display: flex; justify-content: center;  align-items: center;">
        <ion-card class="centered-card" style="width: 50%; height: 220px; --background: #ffffff; box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2); transition: box-shadow 0.3s ease;">
          <ion-card-header>
            <ion-card-title style="color: #000000; font-weight: 900; padding-left: 30px; padding-top: 10px;">
              Washer
            </ion-card-title>
          </ion-card-header>
          <ion-card-content style="color: #000000; font-size: medium; padding-left: 30px;">
            <ul>
              <li>Cool water</li>
              <li>5 min</li>
            </ul>
            <ion-label style="color:#cbcaca;">
            _________________________________________________________________
            </ion-label>
            <ion-label class="custom-label" style="display: flex; justify-content: space-between;">
              <span class="left-text" style="text-align: left; padding-left: 15px; font-weight: bold;">Total Payment</span>
              <span class="right-text" style="text-align: right; padding-right: 30px; font-weight: bold;">$5.00</span>
            </ion-label>
          </ion-card-content>
        </ion-card>
      </div>

      <h2 style="color: #000000; padding-left: 352px; font-weight: 900; font-size: 22px;">Payment Type</h2>

      <div class="card-container" style="display: flex; justify-content: center;  align-items: center;">
        <ion-card class="centered-card" style="width: 50%; height: 220px; --background: #ffffff; box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2); transition: box-shadow 0.3s ease;">
          <ion-card-content style="color: #000000; font-size: medium; padding-left: 30px;">
            <ion-label class="custom-label" style="display: flex; justify-content: space-between;">
            <span class="left-text" style="text-align: left; padding-left: 15px; font-weight: bold;"><img src="assets/mastercard.jpg" alt="debitcard" style="width: 100px; height: 80px; padding-left: 15px; padding-top: 10px;" alt="debitcard"></span>
            <span class="right-text" style="text-align: right; padding-right: 100px; padding-top: 10px; font-weight: bold; font-size: 20px;">Debit Mastercard (2406)</span>
            </ion-label>
            <ion-label class="custom-label" style="display: flex; justify-content: space-between;">
              <span class="left-text"></span>
              <span class="right-text" style="text-align: right; padding-right: 100px; padding-top: -10px; font-weight: bold; font-size: 20px;">Debit Mastercard (2406) <br> Exp: 04/25</span>
            </ion-label>
          </ion-card-content>
        </ion-card>
      </div>
    </ion-content>
